<div class="dialog-container">
  <h2 mat-dialog-title class="dialog-title">
    <mat-icon class="dialog-icon">{{ data ? 'edit' : 'add' }}</mat-icon>
    {{ data ? 'Edit Product' : 'Add Product' }}
  </h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="dialog-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="productName" required autocomplete="off" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>URL</mat-label>
      <input matInput formControlName="url" required autocomplete="off" />
    </mat-form-field>
    <div class="dialog-actions">
      <button mat-stroked-button color="basic" type="button" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">
        {{ data ? 'Update' : 'Add' }}
      </button>
    </div>
  </form>
</div>